$color-primary-1: #001A72;


$color-secondary-1: #298EBA;
$color-secondary-1: #E4841E;


$color-others-1: #E5E5F2;
$color-others-2: #F1F1FA;
$color-others-3: #EAF2FE;


$color-black-1: #000000;


$color-white-1: #ffffff;


$color-grey-1: #EFEFEF;
$color-grey-2: #9FA0A0;
$color-grey-3: #333333;
$color-grey-4: #AAAAAA;
$color-grey-5: #E7E7E7;


$color-blue-1: #E6E8F1;
$color-blue-2: #96A1C5;
$color-blue-3: #6B7AAD;
$color-blue-4: #2B418A;
$color-blue-5: #001250;
$color-blue-6: #001046;
$color-blue-7: #99A3C7;