%font-default {
  font-family: $font-family-main;
  font-style: normal;
}

%font {
  &-light {
    font-weight: 300;
    @extend %font-default;
  }

  &-regular {
    font-weight: 400;
    @extend %font-default;
  }

  &-bold {
    font-weight: 700;
    @extend %font-default;
  }

  &-size {
    &-h1 {
      font-size: 36px;
      line-height: 40px;
    }

    &-h2 {
      font-size: 28px;
      line-height: 40px;
    }

    &-h3 {
      font-size: 24px;
      line-height: 40px;
    }

    &-h4 {
      font-size: 20px;
      line-height: 40px;
    }

    &-h5 {
      font-size: 18px;
      line-height: 40px;
    }

    &-special {
      font-size: 64px;
      line-height: 75px;
    }

    &-normal {
      font-size: 16px;
      line-height: 18px;
    }

    &-small {
      font-size: 12px;
      line-height: 18px;
    }

    &-caption {
      font-size: 10px;
      line-height: 18px;
    }

    &-button {
      &-1 {
        font-size: 18px;
        line-height: 18px;
      }

      &-2 {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}

%header-size {
  h1 {
    @extend %font-size-h1;
  }

  h2 {
    @extend %font-size-h2;
  }

  h3 {
    @extend %font-size-h3;
  }

  h4 {
    @extend %font-size-h4;
  }

  h5 {
    @extend %font-size-h5;
  }
}

%transition {
  @include transition(all 0.3s);

  &-style-1 {
    @include transition(all 0.3s cubic-bezier(0.77, 0, 0.175, 1));
  }
}