@font-face {
  font-family: 'Yu Gothic UI';
  src: url('../fonts/YuGothicUI/YuGothicUI-Light.eot');
  src: url('../fonts/YuGothicUI/YuGothicUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothicUI/YuGothicUI-Light.woff2') format('woff2'),
    url('../fonts/YuGothicUI/YuGothicUI-Light.woff') format('woff'),
    url('../fonts/YuGothicUI/YuGothicUI-Light.ttf') format('truetype'),
    url('../fonts/YuGothicUI/YuGothicUI-Light.svg#YuGothicUI-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yu Gothic UI';
  src: url('../fonts/YuGothicUI/YuGothicUI-Bold.eot');
  src: url('../fonts/YuGothicUI/YuGothicUI-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothicUI/YuGothicUI-Bold.woff2') format('woff2'),
    url('../fonts/YuGothicUI/YuGothicUI-Bold.woff') format('woff'),
    url('../fonts/YuGothicUI/YuGothicUI-Bold.ttf') format('truetype'),
    url('../fonts/YuGothicUI/YuGothicUI-Bold.svg#YuGothicUI-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Yu Gothic UI';
  src: url('../fonts/YuGothicUI/YuGothicUI-Regular.eot');
  src: url('../fonts/YuGothicUI/YuGothicUI-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/YuGothicUI/YuGothicUI-Regular.woff2') format('woff2'),
    url('../fonts/YuGothicUI/YuGothicUI-Regular.woff') format('woff'),
    url('../fonts/YuGothicUI/YuGothicUI-Regular.ttf') format('truetype'),
    url('../fonts/YuGothicUI/YuGothicUI-Regular.svg#YuGothicUI-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.eot');
  src: url('../fonts/Inter/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('../fonts/Inter/Inter-Regular.woff') format('woff'),
    url('../fonts/Inter/Inter-Regular.ttf') format('truetype'),
    url('../fonts/Inter/Inter-Regular.svg#Inter-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}