.form {

  &-group {}

  &-control {
    padding: 20px 30px;
    background-color: $color-white-1;
    border: 1px solid $color-grey-5;
    border-radius: 0;
    color: $color-grey-2;
    @extend %font-regular, %font-size-normal;

    @media (max-width: 1200px) {
      padding: 10px 20px;
      font-size: 14px;
    }

    &:focus,
    &:active {
      box-shadow: none;
      outline: none;
      border-color: $color-grey-5;
    }
  }

  &-action {}
}